<?xml version="1.0" encoding="utf-8"?>
<manifest
  package="com.yemyatthu.bumc"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:allowBackup="true"
    android:icon="@drawable/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/BUMTheme">

    <activity
      android:name="com.yemyatthu.bumc.activity.MemeListPagerActivity"
      android:label="@string/app_name"
      android:screenOrientation="sensorPortrait">

      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="com.yemyatthu.bumc.activity.SettingsActivity"
      android:label="@string/settings_menu"
      android:parentActivityName="com.yemyatthu.bumc.activity.MemeListPagerActivity"
      android:screenOrientation="sensorPortrait">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.yemyatthu.bummememaker.MemeListPagerActivity" />
    </activity>
    <activity
      android:name="com.yemyatthu.bumc.activity.MemeViewPagerActivity"
      android:label="@string/app_name"
      android:parentActivityName="com.yemyatthu.bumc.activity.MemeListPagerActivity"
      android:screenOrientation="sensorPortrait">
      <!-- Parent activity meta-data to support 4.0 and lower -->
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.yemyatthu.bummememaker.MemeListPagerActivity" />
    </activity>
    <activity
      android:name="com.yemyatthu.bumc.activity.AboutViewActivity"
      android:excludeFromRecents="true"
      android:label="@string/about_menu"
      android:screenOrientation="sensorPortrait"
      android:theme="@android:style/Theme.Holo.Light.Dialog">

    </activity>
  </application>

</manifest>
